.textContainer {
  width: 40%;
  margin: auto;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 120px;

  h2 {
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }
  @media only screen and (max-width: 600px) {
    width: 80%;
  }
}

.text {
  font-family: "Lato", sans-serif;
  text-align: left;
}
